<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.27.1.0" newVersion="1.27.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.27.1.0" newVersion="1.27.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--<add key="getDocumentPattern" value="Empl\n([0-9]+)\n"/>-->
    <!-- if the document number lenght is < 9, is valid complete the extension with spaces???-->
    <!--<add key="getDocumentPattern" value="\r\n([0-9]+)\r\n([0-9]+)\r\n([0-9]+)\r\n"/>-->
    <!--<add key="getDocumentPattern" value="\r\n([0-9]+)\r\n"/>-->
    <!--<add key="getDocumentPattern" value="N OM B RE\r\n([0-9]+)\r\n([0-9]+)"/>
    <add key="getNamePattern" value="\n([A-Za-z\s]+)" />
    <add key="getPatronalNumberPattern" value="\n([0-9]+)" />
    <add key="getEndDatePattern" value="DIARIO\n([A-Za-z0-9\s]+)" />-->
  </appSettings>
</configuration>